* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 90%;
    margin: 0px auto;
}

nav {
    background-color: #343642;
    background: -webkit-linear-gradient(#343642, #353E44, #262626); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#343642, #353E44, #262626); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#343642, #353E44, #262626); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#343642, #353E44, #262626); /* Standard syntax */
    height: 50px;
    border-radius: 5px;
    padding: 10px;

}

nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    /*background-color: #D79178;*/
    padding: 10px;
    border-radius: 5px;
    margin-right: 20px;
    padding-top: 5px;
}


nav a:hover {
    background-color: #D79178;
    color: black;
}
/*#nav {
    margin-left: 250px;
}*/

h1 {
    font-size: 2em;
}

p {
    font-size: 1em;
}

/*#343642
#353E44
#4A606D
#FFDA8A
#D79178*/
