<h3>Fun widgets</h3>
<a class="btn btn-info" role="button" routerLink='/section/widgets/weather'>Weather Widget</a>
<a class="btn btn-info" role="button" routerLink='/section/widgets/color'>Color Picker Widget</a>
<a class="btn btn-info" role="button" routerLink='/section/widgets/got'>Game of thrones Widget</a>
<a class="btn btn-info" role="button" routerLink='/section/widgets/ninja'>Ninja Widget</a>
<a class="btn btn-info" role="button" routerLink='/section/widgets/cat'>Ninja Cat Widget</a>
<a class="btn btn-info" role="button" routerLink='/section/widgets/pokedex'>Pokedex</a>
<a class="btn btn-info" role="button" routerLink='/section/widgets/streetFighter'>Stree Fighter Clone</a>
<a class="btn btn-info" role="button" routerLink='/section/widgets/gold'>Gold Earning Game</a>


<router-outlet></router-outlet>