<div class="wrapper">
        <h3>Disappearing Ninjas App</h3>
        <p>Click on a ninja to make it disappear</p>
        <img (click)='toggleNinja()' class='ninjaPic' src="../../../assets/images/ninja.jpeg" alt="ninja picture">
        <img (click)='toggleNinja()' class='ninjaPic' src="../../../assets/images/ninja.jpeg" alt="ninja picture">
        <img (click)='toggleNinja()' class='ninjaPic' src="../../../assets/images/ninja.jpeg" alt="ninja picture">
        <img (click)='toggleNinja()' class='ninjaPic' src="../../../assets/images/ninja.jpeg" alt="ninja picture">
        <img (click)='toggleNinja()' class='ninjaPic' src="../../../assets/images/ninja.jpeg" alt="ninja picture">
        <img (click)='toggleNinja()' class='ninjaPic' src="../../../assets/images/ninja.jpeg" alt="ninja picture">
        <img (click)='toggleNinja()' class='ninjaPic' src="../../../assets/images/ninja.jpeg" alt="ninja picture">
        <img (click)='toggleNinja()' class='ninjaPic' src="../../../assets/images/ninja.jpeg" alt="ninja picture">
        <button (click)='reviveNinja()' class='ninjaButton' type="button" name="button">Click to restore ninjas.</button>
</div>
