
<h3>The ColorClicker! </h3>
<div (click)='largeBox()' id='large_box'>
    <div (click)='sideBox()' class='side_box'></div>
    <div (click)='middleBox()' class='middle_box'></div>
    <div (click)='sideBox()' class='side_box'></div>
</div>
<h2>Rules</h2>
<h3>1. Clicking the big box will change background colors of all of the boxes!</h3>
<h3>2. Clicking the middle small box will change the color of the big box!</h3>
<h3>3. Clicking the left or right small box should change the color of all the small boxes!</h3>




