<section>
  <h1>Matthew Fleming</h1>
            <a href='https://postimg.org/image/a7rv9jmsd/' target='_blank'><img src='https://s30.postimg.org/a7rv9jmsd/IMG_0450.jpg' border='0' alt='postimage'/></a>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna <br>
                 aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br>
                  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.<br>
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                  <h3>Jobs I've had</h3>
                  <table border="1">
                      <thead>
                          <tr>
                              <th>Job</th>
                              <th>Type</th>
                              <th>Length</th>
                          </tr>
                       </thead>
                      <tbody>
                         <tr>
                            <td>EB Games</td>
                            <td>Sales</td>
                            <td>One Year</td>
                        </tr>
                        <tr>
                            <td>Aldea Spiritual Communit</td>
                            <td>Audio and Visual</td>
                            <td>Two Years</td>
                        </tr>
                        <tr>
                            <td>Ace Industrial Supply</td>
                            <td>Sales and managment</td>
                            <td>Four Years</td>
                        </tr>
                      </tbody>
                  </table>
            <ul>
                <li>Sonoran Science Academy</li>
                <li>Pima Community College</li>
                <li>Coding Dojo (in progress)</li>
            </ul>
</section>