<div id="wrapper">
    <h3>Ninja Cat</h3>
    <p>Click on a each section of the picture to transform it into a ninja cat </p>
    <img class='' (click)='swap()' src='../../../assets/images/ninja0.png' data-alt-src='../../../assets/images/cat0.png' >
    <img class='' (click)='swap()' src='../../../assets/images/ninja1.png' data-alt-src='../../../assets/images/cat1.png' >
    <img class='' (click)='swap()' src='../../../assets/images/ninja2.png' data-alt-src='../../../assets/images/cat2.png' >
    <img class='' (click)='swap()' src='../../../assets/images/ninja3.png' data-alt-src='../../../assets/images/cat3.png' >
    <img class='' (click)='swap()' src='../../../assets/images/ninja4.png' data-alt-src='../../../assets/images/cat4.png' >
</div>